
Django
django-jazzmin==2.6.0

google-auth==2.16.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
greenlet==2.0.2
grpcio==1.51.1
gTTS==2.3.1
h5py==3.8.0
idna==2.9



nltk
numpy
oauthlib
opencv-contrib-python
opencv-python


pandas

pdf2image
pickleshare
Pillow



PyAudio

pytesseract

pytz
pywin32
pywinpty


requests


scipy
seaborn

sklearn
soupsieve
spacy
SpeechRecognition==3.9.0




